<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="style.css" />
  <script src="tools.js"></script>
</head>

<body>
  <div id="headerDiv">
    <button class="openbtn" onclick="openNav()">☰</button>
    <div id="headerLogo">
      <h1><img src="media/EarthUNi.png" id="postPfp">MY ACCOUNT</h1>
      <title>My Feed</title>
    </div>
  </div>

  <div id="mainDiv">
    <div id="col1" class="column"></div>
    <div id="mySidebar" class="sidebar">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
      <a href="home.html">My Feed</a>
      <a href="communities.html">Communities</a>
      <a href="friends.html">My Friends</a>
      <a href="#">My Account</a>
      <a href="login.html">Login</a>
    </div>
    <div id="col2" class="column">
      <img src="media/z2.PNG">
      <span>Name</span>
      <span>Age</span>
      <span>Email Address</span>
      <span>Followed Communities</span>

      <!-- insert mid content here!! -->
    </div>
    <div id="col3" class="column"></div>
  </div>
</body>
<footer>
</footer>
</html>
