<!DOCTYPE html>
<html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  <script src= "{{ url_for('static',filename='tools.js') }}"></script>
  <title>Communities</title>
</head>

<body>
  <div id="headerDiv">
    <button class="openbtn" onclick="openNav()">☰</button>
    <div id="headerLogo">

      <h1><img src="{{ url_for('static',filename='media/EarthUNi.png')}}" id="postPfp">C++ COMMUNITY</h1>
    </div>
  </div>

  <div id="mainDiv">
    <div id="col1" class="column"></div>
    <div id="mySidebar" class="sidebar">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
      <a href="home">My Feed</a>
      <a href="communities">Communities</a>
      <a href="friends">My Friends</a>
      <a href="account">My Account</a>
      <a href="login">Login</a>
    </div>
    <div id="col2" class="column">
      <div class="post">
        <div class="postTop">
          <img src="{{ url_for('static',filename='media/c-logo.png')}}" id="postPfp"> </img>
          <span class="postName">C++ Community<input type="Button" value="+ Follow"></span>
        </div>
        <div class="postMid">
          <div class="postText">
            The FitnessGram™ Pacer Test is a multistage aerobic capacity test that progressively gets more difficult as it continues. The 20 meter pacer test will begin in 30 seconds. Line up at the start. The running speed starts slowly, but gets faster each minute after you hear this signal. [beep] A single lap should be completed each time you hear this sound. [ding] Remember to run in a straight line, and run as long as possible. The second time you fail to complete a lap before the sound, your test is over. The test will begin on the word start. On your mark, get ready, start.
          </div>
        </div>
      </div>

      <!-- insert posts here -->
      <div class="post">
        <div class="postTop">
          <img src="{{ url_for('static',filename='media/z2.png')}}" id="postPfp"> </img>
          <span class="postName">Namey mcNameFace</span>
          <span class="timeStamp">21 min ago</span>
        </div>
        <div class="postMid">
          <div class="postText">
            What if...🤔😏 we were both cows🐮🐄 in Minecraft🙈⛏ and Steve gave both of us wheat🤭🥵🌾 aHAaAhAAa! I’m joking, I’m joking!!😂🤪...unless ?😈...
          </div>
        </div>
        <div class="postBottom">100 Likes | 222 dislikes</div>
      </div>

      <div class="post">
        <div class="postTop">
          <img src="{{ url_for('static',filename='media/z2.png')}}" id="postPfp"> </img>
          <span class="postName">Namey mcNameFace</span>
          <span class="timeStamp">21 min ago</span>
        </div>
        <div class="postMid">
          <div class="postText">
            What if...🤔😏 we were both cows🐮🐄 in Minecraft🙈⛏ and Steve gave both of us wheat🤭🥵🌾 aHAaAhAAa! I’m joking, I’m joking!!😂🤪...unless ?😈...
          </div>
        </div>
        <div class="postBottom">100 Likes | 222 dislikes</div>        <!-- start comments -->
        <div class="postCommentSect">
          <div class="postComment">
            <hr>
            <img class="commentImg" src="{{ url_for('static',filename='media/z2.png')}}"></img>
            <div class="commentName">
              Zero Two
            </div>
            <span>
              this is a test comment. it doesnt actually mean anything, but it is probably mean.
            </span>
          </div>

          <div class="postComment">
            <hr>
            <img class="commentImg" src="{{ url_for('static',filename='media/z2.png')}}"></img>
            <div class="commentName">
              Rem
            </div>
            <span>
              this is a test comment. it doesnt actually mean anything, but it is probably mean. Now i've made it even longer, which probably will mess some things up.
            </span>
          </div>
        </div>
      </div>
      <div id="col3" class="column"></div>
    </div>
  </body>
  <footer>
  </footer>
  </html>
